<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %replace(%replace(%m){'("(\w*[Pp]assword|access_token|refresh_token|scaAuthenticationData|image|imageLink|data)"\s*:\s*)("[^"]+"|\[[^\]]+\])', '$1*****'}){'("(Authorization|PSU-ID|PSU-Corporate-ID)\s*:\s*)[^\[]+', '$1*****'} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%date %X{operation} [%X{correlationId}] [%X{bankCode}] [%X{iban}] [%X{adapterId}] [%X{approach}] [%X{consentModel}] %msg%n</pattern> -->
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %X{operation} [%X{aspspId}/%X{bankCode}] [%X{adapterId}] [%X{approach}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/audit.log</file>
        <encoder>
            <pattern>%date %X{operation} [%X{correlationId}] [%X{bankCode}] [%X{iban}] [%X{adapterId}] [%X{approach}] [%X{consentModel}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="audit" additivity="false">
        <appender-ref ref="AUDIT" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
