name: Pull request CI
on:
  pull_request:
    branches:
      - develop

env:
  XS2A_ADAPTER_IMAGE: xs2a-adapter
  OPENSHIFT_REGISTRY: openshift-registry.adorsys.de
  OPENSHIFT_NAMESPACE: xs2a-adapter-dev
  OPENSHIFT_IMAGE_NAME: openshift-registry.adorsys.de/xs2a-adapter-dev/xs2a-adapter
  GITHUB_RUN_NUMBER: ${{ github.run_number }}

jobs:
  build:
    name: Build project, build docker image
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 8.0.192

      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build project
        run: mvn clean install -B -Dbuild.number="${{ env.GITHUB_RUN_NUMBER }}" -Djacoco.skip=false

      - name: Build docker image
        run: docker build -t ${{ env.OPENSHIFT_IMAGE_NAME }}:test .
